@use 'base_css/theme';
@use 'base_css/media';


body {
    display: flex;
    flex-flow: column;
}

h1, h2 {
    color: theme.$light-peach;
    font-weight: 400;
    padding: 0.1em;
}

h3 {
    color: theme.$orange;
    font-weight: 500;
    padding: 0.3em;
}

h4 {
    color: theme.$orange;
    font-weight: 400;
    padding: 0.5em;
}

p {
    padding: 0.3em;
}

#root {
.main-wrap {
        --main-margin: 18px;

        @include media.mq-is-col1 {
            --main-margin: 0px;
            --main-max-width: calc(100vh - 60px - 5rem);
        }

        display: grid;
        grid-template-areas: '. . main . .'
        '. . footer . .';

        grid-template-columns: var(--main-margin) 1fr minmax(auto, var(--main-max-width)) 1fr var(--main-margin);


        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }

        .main-wrap {
            display: flex;
            flex-flow: column;


            .main {
                height: 100%;
            }

        }

        footer {
            display: flex;
            justify-content: center;
            gap: 0.5em;
            padding-top: 3em;
            padding-bottom: 8em;
        }

        h1 {
            .com {
                color: theme.$light-grey;
            }

            .title {
                color: theme.$light-peach;
            }
        }

        p {
            small {
                color: theme.$light-grey;
            }
        }
    }
}