@use "./base_css/theme";

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 100 900;
  src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(14px + 2*((100vw - 320px) / 880));
  min-height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  color-scheme: light dark;
  background: theme.$dark-blue;
  color: theme.$white;
}

#root {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;


  /*font-synthesis: none;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  color: theme.$blue;
  text-decoration: none;

  &:active {
    text-decoration: underline;
  }

  &:visited {
    color: theme.$lavender;
  }
}

input[type=text] {
  padding: 0.72em;
  min-width: 200px;

  &:focus {
    outline: none !important;
    box-shadow: 0 0 2px theme.$dark-purple;
  }
}

ul {
  list-style: none;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme.$white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme.$light-grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme.$dark-grey;
}