@use 'sass:color';
@use '../base_css/theme';

button.action-button {

    cursor: pointer;
    border: none;
    padding: 1em;
    border-radius: 40px;
    min-width: 4em;
    text-transform: uppercase;

    &.cancel {

        background: transparent;
        &:hover {
           background: theme.$light-grey;
        }
    }

    &.normal {
        background: theme.$white;

        &:hover {
           background: theme.$light-grey;
        }
    }

    &.ok {
        background: theme.$white;

        &:hover {
           background: theme.$light-grey;
        }
    }

    &.waiting {
        background: color.scale(theme.$dark-grey, $lightness: 30%);
        color: theme.$dark-grey;
    }
}