.sb-modal[role="dialog"] {
    position: fixed;
    inset: 0 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin: 0;
    padding: 0;
    z-index: 100;
}