.popup-menu-portal {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    &.active {
        pointer-events: all;
        background: rgba(0, 0, 0, 0.2);
    }



    .popup-menu {
        pointer-events: all;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
        z-index: 100;
    }
}