@use '../base_css/theme';

.moves-wrap {

    overflow-y: scroll;
    background: theme.$dark-grey;
    box-shadow: inset 1px 1px 3px theme.$orange;
    border-radius: 2px;

    padding-bottom: 2em;

    .replay {
        line-height: 1em;

        .move {
            font-family: 'Noto Chess';
            display: inline-block;
            cursor: pointer;
            font-weight: 500;
            color: theme.$yellow;
            border-radius: 3px;
            padding: 0.5em 0.28em;

            .index {
                font-family: 'Montserrat';
                font-weight: 700;
                color: theme.$blue;
                margin-right: 0.1em;
            }

            &:hover {
                background: theme.$pink;
            }

            &.cursor {

                & .index {
                    color: theme.$brown;
                }

                background: theme.$yellow;
                color: theme.$dark-blue;
            }

        }
    }
}