.sortable-list-wrap {

    padding: 10px 0;
    position: relative;
    overflow-y: scroll;

    .sortable-list {
        .draggable {
            cursor: pointer;
        }

        .dragging {
            visibility: hidden;
        }
    }
}

.sortable-list-portal {
    touch-action: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    &.active {
        pointer-events: all;
    }

    .sortable-list-dragging {
        cursor: pointer;
    }
}