@use '../base_css/media';
@use '../base_css/theme';

.section-challenges {

    $padding-full: 1em;
    $padding-half: .8em;

    padding: $padding-full 0;

    .challenges {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .summary {
            font-size: 1.1em;
        }

        .left {
            align-self: flex-start;
        }



        .formula {
            display: flex;
            align-self: stretch;
            gap: $padding-full;
            
            flex-flow: column;

            .panel-wrap {
                flex: 1;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                display: flex;
                
                .lichess-embed {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                }

                @include media.mq-is-col1 {
                    flex-flow: column;

                    .lichess-embed {
                        align-self: center;
                    }
                }

                .panel {
                    flex: 1;
                    .light-info {

                        height: 100%;
                        border-right: 2px solid theme.$orange;
                        display: flex;
                        flex-flow: column;
                        align-items: stretch;

                        .title {
                            flex: 1;
                        background: theme.$dark-purple;
                        padding: $padding-full;
                        display: flex;
                        flex-flow: column;

                        .playlist {
                            padding-left: 0.4em;
                            font-weight: bold;
                            border-left: 2px solid theme.$white;
                        }
                        }

                        .moves-wrap {

                            flex: 1;
                            background: theme.$dark-grey;
                            padding: $padding-half;

                            overflow-y: scroll;

                            .list {
                            display: flex;
                            flex-flow: row wrap;


                            .index {
                                font-weight: bold;
                                color: theme.$blue;
                            }

                            .index, .move {

                                padding: 0.2em;
                                color: theme.$light-grey;

                                &.solid {
                                    color: theme.$green;
                                    font-weight: bold;
                                }
                            }
                        }
                        }
                    }
                }

            }

            .tabs-wrap {
                .tabs {
                    align-self: flex-start;

                    display: flex;
                    border-bottom: 2px solid theme.$light-peach;

                    .tab {
                        padding: $padding-half $padding-full;
                        cursor: pointer;
                        border-radius: 8px 8px 0 0;
                        font-weight: 500;
                        flex: 0 0 8em;
                        text-align: center;
                        transition: .3s;
                        border-bottom: 4px solid transparent;

                        &.active {
                            border-bottom: 4px solid theme.$blue;
                            font-weight: bold;
                        }

                        &:hover {
                            background: theme.$light-grey;
                            color: theme.$dark-blue;
                            font-weight: bold;
                        }
                    }
                }

                .tabs-content {
                    align-self: flex-start;
                    width: 100%;
                    display: flex;
                    flex-flow: column;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                    .gap {
                        flex: 1;
                    }

                    table {
                        flex: 1;
                        border-collapse: collapse;
                        width: 70%;
                        table-layout:fixed;
                        justify-self: center;
                    border-left: 2px solid theme.$light-peach;
                    border-right: 2px solid theme.$light-peach;

                    @include media.mq-is-col1 {
                        width: 100%;
                    }

                        thead {
                            tr {
                                display: flex;
                            }
                            th {
                                text-align: left;
                                padding: $padding-half;
                            }
                        }

                        tr {
                            display: flex;
                            td,
                                th {
                                    flex: 1;
                            
                                    &:first-child {
                                        flex: 0 0 5em;
                                    }
                                }

                        }

                        tbody {
                            display: block;
                            height: 200px;
                            width: 100%;
                        overflow-y: auto;

                    .item {
                        cursor: pointer;

                        .time {
                            color: theme.$light-grey;
                            font-style: italic;
                        }

                        &:hover {
                            background: theme.$pink;
                        }

                        &.active {
                            background: theme.$blue;
                        }

                        td {
                            padding: $padding-half;
                            border: none !important;
                        }

                                                .result {

                                                    span {
                                                        /*text-shadow: 2px 2px 3px theme.$black; */
                                                    }

                                                    .win {
                                                        color: theme.$green;
                                                    }
                        
                                                    .lose {
                                                        color: theme.$red;
                                                    }
                        
                                                    .draw {
                                                        color: theme.$white;
                                                    }
                                                }
                                            }
                    }
                }

                .total {
                    .bar {
                        height: 0.5em;
                        background: theme.$light-grey;
                        display: flex;

                        .progress {
                            background: theme.$green;
                        }
                    }
                }
                }
            }
        }
    }
}