@use '../base_css/media';
@use '../base_css/theme';

.section-openings {

    padding: 1em 0;

    .openings {
        position: relative;
        display: grid;
        overflow: hidden;

        grid-template-areas: 'build'
                'explore'
                'playlist';

        grid-template-rows: repeat(3, 90vh);

        @include media.mq-at-least-col2 {
                grid-template-areas: 'build explore'
                    'playlist .';

                grid-template-columns: minmax(auto, 80vh) 1fr;
        }

        @include media.mq-at-least-col3 {
        grid-template-areas: 'playlist build explore';
        grid-template-columns: 2fr 60vh 3fr;
        }


        .build {
            grid-area: build;
        }

        .explore {
            grid-area: explore;
        }

        .playlist {
            grid-area: playlist;
        }

        .build, .explore, .playlist {
            border-left: 1px solid theme.$lavender;
        }


        .build {
            display: flex;
            flex-flow: column;
            gap: 0.8em;

            .board-wrap {
                padding: 0 0.5em;
                .board {
                    aspect-ratio: 1;
                }
        
                /* do custom board */
                cg-container {
                    box-shadow: 8px 9px 1px black;
                }
            }

            .board-tools {
                display: flex;
                gap: 1em;
                justify-content: flex-end;
                padding: 0 1em;
            }
        }

        .explore {


            .replay-wrap {
                position: relative;
                display: flex;
                flex-flow: column;
                gap: 0.4em;
                padding: 0.2em 1em;

                .moves-wrap {
                    height: 200px;
                }

                .replay-tools {
                    display: flex;
                    gap: 1em;
                    align-self: flex-end;
                }
            }



            .tools {
                padding: 0 1em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1em;

                input {
                    flex: 1;
                    align-self: first baseline;
                    margin-top: 0.8em;
                }

                a {
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: pointer;
                }

                .action {
                    display: flex;
                    flex-flow: column;
                }
            }
        }

        .board-tools,
        .replay-wrap {
            border-bottom: 1px solid theme.$lavender;
        }

        .playlist {
            position: relative;
            display: flex;
            flex-flow: column;

            .filters {
                display: flex;

                .tab {
                    flex: 1;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 8px 8px 0px 0;
                    color: theme.$light-grey;
                    &.active {
                        color: theme.$white;
                        border-bottom: 2px solid theme.$blue;
                        font-weight: bold;
                    }
                    &:hover {
                        background: theme.$white;
                        color: theme.$dark-blue;
                        font-weight: bold;
                    }


                }

            }

            .lists {
                overflow-y: scroll;
                flex: 0 0 30%;

                ul {
                        display: grid;
                        grid-template-columns: repeat(2, minmax(0, 1fr));
                        grid-template-rows: 100px;

                        .item-new {
                            flex: 0 0 50%;
                            padding: 1em;
                            cursor: pointer;

                            .icon {
                                font-size: 2em;
                                background: theme.$dark-grey;
                                border-radius: 8px;
                                text-align: center;

                            }
                            .title {
                                font-size: .87em;

                            }


                                &:hover {

                                    .icon {
                                            background: theme.$light-grey;
                                            color: theme.$dark-grey;
                                        }

                                        .title {
                                            text-decoration: underline;
                                        }
                                }
                        }
                
                        .item {

                            flex: 0 0 50%;
                            padding: 1em;

                            .title {
                                font-weight: 500;
                                color: theme.$white;
                                cursor: pointer;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            .nb {
                                color: theme.$light-grey;
                            }
                        }
                    }
            }


            .info {

                display: flex;
                justify-content: space-between;
                font-weight: bold;
                align-items: center;
                border-top: 2px solid theme.$lavender;

                .title {
                    padding: 0.2em 0.5em;
                }

                .more {
                    
                    margin-right: 0.5em;
                    cursor: pointer;
                    font-size: 1.1em;

                    button {
                        border: none;
                        background: none;
                        color: theme.$light-grey;
                        
                            &:hover {
                                color: theme.$pink;
                            }

                            &.active {
                                color: theme.$white;
                            }
                        }
                }

            }

            .lines {
                display: flex;
                flex-flow: column;
                min-height: 0;
            }
        }


        .dropdown-menu-portal {
            .dropdown-menu {
                background: theme.$light-grey;
                color: theme.$black;
                ul {
                    li {
                        padding: 0.5em;
                        cursor: pointer;
                        margin-left: 0.2em;

                        &:hover {
                            background: theme.$white;
                            color: theme.$dark-blue;
                        }
                        &.red {
                            color: theme.$red;
                        }



                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}