@use 'sass:color';
@use '../base_css/media';
@use '../base_css/theme';

.section-openings {

    $padding-half: 0.6em;
    $padding-full: 0.8em;

    .openings {
        position: relative;
        display: grid;
        overflow: hidden;
        gap: $padding-half;

        @include media.mq-is-col1 {
            grid-template-areas: 'build'
                'explore'
                'playlist';

                grid-template-rows: repeat(3, minmax(90vw, 90vh));
            }

        @include media.mq-at-least-col2 {
                grid-template-areas: 'build explore'
                    'playlist .';

                grid-template-columns: minmax(auto, 70vh) 1fr;

                grid-template-rows: repeat(2, 90vh);
        }

        @include media.mq-at-least-col3 {
            grid-template-areas: 'playlist build explore';
            grid-template-columns: 2fr clamp(300px, 30cqw, 600px) 3fr;
            grid-template-rows: minmax(auto, 90vh);
        }


        .build {
            grid-area: build;
        }

        .explore {
            grid-area: explore;
        }

        .playlist {
            grid-area: playlist;
        }

        .build, .explore, .playlist {
            border-left: 1px solid theme.$light-peach;

            border-radius: 12px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        }

        .build {
            display: flex;
            flex-flow: column;
            gap: 0.8em;


            .board-wrap {
                padding: 0 $padding-full;
                margin-top: $padding-half;
                .board {
                    aspect-ratio: 1;
                }
        
                /* do custom board */
                cg-container {
                    box-shadow: 8px 9px 1px black;
                }
            }

            .board-tools {
                margin-top: $padding-full;
                display: flex;
                gap: 1em;
                justify-content: flex-end;
                padding: $padding-half $padding-full;
            }
        }

        .explore {


            .replay-wrap {



                position: relative;
                display: flex;
                flex-flow: column;
                gap: $padding-half;
                padding: $padding-full;

                .moves-wrap {
                    height: 200px;

                    border-radius: 12px;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                }

                .replay-tools {
                    margin-top: $padding-half;
                    display: flex;
                    gap: 1em;
                    align-self: flex-end;
                }

                .replay {
                    padding: $padding-full;
                    .no-line-to-save {
                       color: theme.$light-grey;
                       padding: $padding-full;
                    }
                }
            }

            .no-line {
                margin-left: $padding-full;
            }

            .line-info-wrap {
                padding: $padding-full;
                background: theme.$dark-purple;
                border-radius: 8px 8px 0 0;
            }

            .line-info {

                display: flex;
                flex-flow: column;
                gap: $padding-full;

                .playlist-info {
                        display: flex;
                        gap: 0.5em;
                        border-left: 1px solid theme.$light-peach;
                
                        .name {
                            margin-left: 0.3em;
                            font-weight: bold;
                        }
                
                        .author {
                            font-weight: 500;
                        }
                    }
            }

            .error-info {
                padding: $padding-full;
            }

            .tools {
                justify-self: center;
                padding: 0 $padding-full;
                display: flex;
                align-items: center;
                gap: 1em;

                input {
                    flex: 1;
                    align-self: first baseline;
                    margin-top: 0.8em;
                }

                a {
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: pointer;

                    &.disabled {
                        color: theme.$dark-grey;
                        opacity: .8;
                        cursor: default;
                    }
                }

                .action {
                    display: flex;
                    flex-flow: column;
                }
            }
        }

        .board-tools,
        .replay-wrap {
            border-bottom: 1px solid theme.$light-peach;
        }

        .playlist {
            position: relative;
            display: flex;
            flex-flow: column;

            .filters {
                display: flex;

                .tab {
                    padding: $padding-half;
                    font-size: 1.1em;
                    flex: 1;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 8px 8px 0px 0;
                    color: theme.$light-grey;
                    &.active {
                        color: theme.$white;
                        border-bottom: 8px solid theme.$blue;
                        font-weight: bold;
                    }
                    &:hover {
                        background: theme.$white;
                        color: theme.$dark-blue;
                        font-weight: bold;
                    }


                }

            }

            .room {
                height: 0.1em;
                border-top: 1px solid theme.$light-peach;
                background: theme.$light-peach;
            }

            .lists {
                overflow-y: scroll;
                flex: 0 0 30%;

                ul {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        min-height: 0;
                        min-width: 0;

                        gap: 0.3em;
                        padding: $padding-full;

                        .item-new {
                            padding: $padding-full;
                            cursor: pointer;

                            .icon {
                                font-size: 2em;
                                background: theme.$dark-grey;
                                border-radius: 8px;
                                text-align: center;
                            }
                            .title {
                                font-size: .87em;

                                text-align: center;
                            }


                                &:hover {

                                    .icon {
                                            background: theme.$light-grey;
                                            color: theme.$dark-grey;
                                        }

                                        .title {
                                            text-decoration: underline;
                                        }
                                }
                        }

                        .item-new, .item {
                            border-radius: 12px;
                            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                            &.active {
                                box-shadow: 0px 0 12px rgba(255, 64, 100, 0.4);
                            }
                        }
                
                        .item {


                            display: flex;
                            flex-flow: column;
                            padding: $padding-full;

                            cursor: pointer;
                                width: 100%;
                                overflow: hidden;
                                min-width: 0;
                            
                            &:hover {
                                background: theme.$pink;
                            }

                            &.active {
                                background: theme.$dark-purple;
                            }

                            .title {
                                font-weight: 500;
                                color: theme.$white;
                                cursor: pointer;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            .nb {
                                color: theme.$light-grey;
                            }
                        }
                    }
            }


            .info {

                display: flex;
                justify-content: space-between;
                font-weight: bold;
                align-items: center;
                border-top: 2px solid theme.$light-peach;

                .title {
                    padding: $padding-half $padding-full;
                }
            }

            .lines {
                display: flex;
                flex-flow: column;
                min-height: 0;
                /* TODO remove this after dropdown fix */
                padding-bottom: 5em;

                .a-line {
                    display: flex;
                    align-items: center;
                    padding: $padding-half;

                    .name {
                        flex: 1;
                    }

                    .more {
                        button, i {
                          font-size: 0.9em;
                        }
                    }

                    &:hover {
                        background: theme.$pink;
                    }

                    &.active {
                        background: theme.$blue;
                        color: theme.$white;
                    }
                }
            }


            &, .lines {

                .more {
                    
                    display: flex;
                    align-items: center;
                    margin-right: 0.5em;
                    cursor: pointer;

                    button {
                    font-size: 1.02em;
                    }

                    button {
                        border: none;
                        background: none;
                        color: theme.$light-grey;
                        
                            &:hover {
                                color: theme.$white;
                            }

                            &.active {
                                color: theme.$dark-purple;
                            }
                        }
                }


            }
        }



        .dropdown-menu-portal {
            .dropdown-menu {
                background: theme.$light-grey;
                color: theme.$black;
                ul {
                    li {
                        padding: $padding-half;
                        cursor: pointer;
                        margin-left: 0.2em;

                    }
                }

                ul li, ul li div {
                    flex: 1;

                        &:hover {
                            background: theme.$white;
                            color: theme.$dark-blue;
                        }



                        display: flex;
                        justify-content: space-between;
                }

                ul li.red {
                    color: theme.$red;
                }

            }
        }


                .modal-portal {

                    .add-to-playlist-modal-body {

                        display: flex;
                        flex-flow: column;
                        gap: 1em;

                        .recent {
                            border-bottom: 1px solid theme.$light-peach;
                        
                        }

                        .new-playlist-float {
                            align-self: flex-end;
                        }
                    }


                    .sb-modal-content {

                        border: 1px solid theme.$light-peach;

                        background: theme.$dark-grey;
                        border-radius: 8px;
                        min-width: 70vw;


                        @include media.mq-is-col1 {
                            min-width: 80vw;
                        }

                        @include media.mq-at-least-col2 {
                            min-width: 60vw;
                        }

                        @include media.mq-at-least-col3 {
                            min-width: 50vw;
                        }
                    }

                    .sb-modal-body {
                        padding: $padding-half;
                        display: flex;
                        flex-flow: column;
                        gap: 1em;
                    }

                    .sb-modal-footer {
                        padding: $padding-half;
                        display: flex;
                        justify-content: flex-end;
                        gap: 0.5em;
                    }

                    .sb-modal-header {
                        display: flex;
                        align-items: center;
                        font-size: 1.2em;
                        h2, h3 {
                            font-weight: bold;
                                color: theme.$white;
                                flex: 1;
                            }
                        padding: $padding-half $padding-full;

                        border-bottom: 1px solid theme.$light-peach;

                        .close {
                            padding: $padding-half;
                            cursor: pointer;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 2em;
                            height: 2em;

                            &:hover {
                                background: theme.$light-grey;
                                color: theme.$dark-blue;
                            }
                        }
                    }

                    .sb-modal-body {
                        h3 {
                                color: theme.$white;
                            }

                            .error {
                                color: theme.$red;
                                align-self: flex-end;
                            }
                    }
                }
    }
}